<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session list</title>
    <link rel="stylesheet" href="../assets/css/app.css">
   
</head>
<body>
    <div class="nav">
                
        <span class="brand">
            <Span class="white-text">Free</Span><span class="brand-color">Mentor</span>
        </span>
      
        <div class="menu-container">
           
            <label class="menu-toggle" for="toggle">&#9776;</label>
            <input type="checkbox"  id="toggle">
            <div class="menu">
                    <a href="dashboard.html">Dashboard</a>
                    <a href="mentor.html">My profile</a>
                    <a href="../index.html">Log out</a>
                    
          </div>
        </div>
    </div>

    <div class="auth-user">
        <div class="auth-user-container"> </div>
            
     </div>


    <div class="section-card session-details">
        <div class="section-header">
          <h4 class="section-header-t">Session detail with : 
              <a href="sessions_list.html" class="btn back-btn">Back</a>
          </h4>
        </div>
    
       

        <div class="card">
           <div class="card-body center">
              <img class="circle user-img" src="../assets/img/person.png">
              <p class="title">Prodo elijah</p>

              <p>
                    Session status : 
                            <span class="app-color">Pending</span> /
                            <span class="green-text">In process</span> /
                            <span class="blue-text">Finished</span>
              </p>

            </div>
           

            <div class="card-body center">
               <button class="btn green-btn">Accept</button>
               <button class="btn red-btn">Reject</button>
               <a href="review_form.html" class="btn auth">Review</a>
              
            </div>
            <div class="card-body">
              <p class="session-duration">Session scope : from 12/03/2019 to 04/05/2019</p>
            </div>
            <div class="card-body ">
               <p class="title">Questions :</p>
               <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco</span>
            </div>
            
            
            
          
        </div>


    </div>

        

    <footer class="footer transp-back-color">
        <div class="footer-brand">
            <div class="brand">
                <Span class="white-text">Free</Span><span class="brand-color">Mentor</span>
            </div>
        </div>
        <div class="copy-right">
          <span>© Copyright FreeMentor</span>
        </div>
        
    </footer>
   

   

    
</body>
</html>