language: node_js
node_js: 
  - 'stable'
services:
- postgresql
before_script:
- psql -c "create database freementors;" -U postgres
script:
  - npm test
notifications:
  email: false
after_success:
  - npm run migrate_tables_test
  - npm run coverage