<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="../../assets/css/app.css">
    
</head>
<body class="admin-body">
    
    <div id="content">
        

        <div id="menu" class="nav-admin">
            
            <div class="menu-opacity">
                <a class="close" href="#">
                    <span id="close-slide-menu"  >&#9747;</span>
                </a>
                <a href="dashboard.html">Analytic</a>
                <a href="all_users.html">All users</a>
                <a href="#">All mentors</a>
                <a href="#">All admins</a>
                <a href="#">All sessions</a>
                <a href="#">Session in process</a>
                <a href="#">Finished sessions</a>
            </div>
           
        </div>

        <div class="content-noSide">
            
            <div class="nav">
                 
                <span  class="brand">
                    <span id="open-slide-menu" class="black-text">
                        <span>&#9776;</span>
                    </span>
                    <Span class="black-text">Free</Span><span class="brand-color">Mentor</span>
                </span>
              
                <div class="menu-container">
                   
                    <div class="menu">
                            
                            <a href="#">News</a>
                            <a href="../../index.html">Logout</a>
                            
                    </div>
                </div>
            </div>

            <div class="section-card sessions-list">
                    <div class="section-header">
                      <h4 class="section-header-t">Users management </h4>
                    </div>
                    
                    <div class="card">
                       <div class="card-header  image">
                           <div class="header-img">
                               <img src="../../assets/img/person.png">
                           </div>
                           <div class="header-title">
                              <p class="title">Espoire nyaru</p>
                               <span class="sub-title">Expertise :<span class="">Software design</span></span>
                           </div>
                       </div>
                       <div class="card-footer">
                           
                          <a class="btn auth" href="manage_user.html">manage</a>
                           
                       </div>
                    </div>
              
                    <div class="card">
                      <div class="card-header  image">
                          <div class="header-img">
                              <img src="../../assets/img/person.png">
                          </div>
                          <div class="header-title">
                              <p class="title">Anje beii</p>
                              <span class="sub-title">Expertise :<span class="">Computer programming</span></span>
                          </div>
                      </div>
                       <div class="card-footer">
                           
                            <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                    <div class="card">
                      <div class="card-header  image">
                          <div class="header-img">
                              <img src="../../assets/img/person.png">
                          </div>
                          <div class="header-title">
                              <p class="title">Nelson key</p>
                              <span class="sub-title">Expertise :<span class="">Software design</span></span>
                          </div>
                      </div>
                       <div class="card-footer">
                           
                            <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                          <div class="card">
                       <div class="card-header  image">
                           <div class="header-img">
                               <img src="../../assets/img/person.png">
                           </div>
                           <div class="header-title">
                            
                              <p class="title">mr been</p>
                              <span class="sub-title">Expertise :<span class="">Computer programming</span></span>
                           </div>
                       </div>
                       <div class="card-footer">
                           
                           <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                    <div class="card">
                      <div class="card-header  image">
                          <div class="header-img">
                              <img src="../../assets/img/person.png">
                          </div>
                          <div class="header-title">
                              <p class="title">Espoire nyaru</p>
                              <span class="sub-title">Expertise :<span class="">Software design</span></span>
                          </div>
                      </div>
                       <div class="card-footer">
                           
                            <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                    <div class="card">
                      <div class="card-header  image">
                          <div class="header-img">
                              <img src="../../assets/img/person.png">
                          </div>
                          <div class="header-title">
                              <p class="title">Espoire nyaru</p>
                              <span class="sub-title">Expertise :<span class="">Software design</span></span>
                          </div>
                      </div>
                       <div class="card-footer">
                           
                            <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                    <div class="card">
                       <div class="card-header  image">
                           <div class="header-img">
                               <img src="../../assets/img/person.png">
                           </div>
                           <div class="header-title">
                              <p class="title">Espoire nyaru</p>
                               <span class="sub-title">Expertise :<span class="">Software design</span></span>
                           </div>
                       </div>
                       <div class="card-footer">
                           
                           <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                    <div class="card">
                      <div class="card-header  image">
                          <div class="header-img">
                              <img src="../../assets/img/person.png">
                          </div>
                          <div class="header-title">
                              <p class="title">Anje beii</p>
                              <span class="sub-title">Expertise :<span class="">Computer programming</span></span>
                          </div>
                      </div>
                       <div class="card-footer">
                           
                            <a class="btn auth" href="manage_user.html">manage</a>
                       </div>
                    </div>
              
                   
              
              
                    <div class="load-more-container">
                        <button class="btn auth load-x-mentor">Load more</button>
                    </div>
              
                      
                  </div>

            

                  
        </div>
    </div>

    <script src="../../assets/js/app.js"  type="text/javascript"></script>
    <script src="../../assets/js/admin-utility.js"  type="text/javascript"></script>

   
</body>
</html>