<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin dashboard</title>
    <link rel="stylesheet" href="../../assets/css/app.css">
    
</head>
<body class="admin-body">
    
    <div id="content">
        

        <div id="menu" class="nav-admin">
            
            <div class="menu-opacity">
                <a class="close" href="#">
                    <span id="close-slide-menu"  >&#9747;</span>
                </a>
                <a href="dashboard.html">Analytic</a>
                <a href="all_users.html">All users</a>
                <a href="#">All mentors</a>
                <a href="#">All admins</a>
                <a href="#">All sessions</a>
                <a href="#">Session in process</a>
                <a href="#">Finished sessions</a>
            </div>
           
        </div>

        <div class="content-noSide">
            
            <div class="nav">
                 
                <span  class="brand">
                    <span id="open-slide-menu" class="black-text">
                        <span>&#9776;</span>
                    </span>
                    <Span class="black-text">Free</Span><span class="brand-color">Mentor</span>
                </span>
              
                <div class="menu-container">
                   
                    <div class="menu">
                            
                            <a href="#">News</a>
                            <a href="../../index.html">Logout</a>
                            
                    </div>
                </div>
            </div>

            <section class="section-card admin-dash-section manage-user-session bg-white">
                <div class="section-header">
                    <h4 class="section-header-t">User :</h4>
                </div>

                <div class="card manage-info-i">
                    <div class="card-body center">
                         <img class="circle user-img-p" src="../../assets/img/person.png">
                         <p class="title">
                             <a href="../mentor.html">John peter</a>
                            </p>
                         <span>john@gmail.com</span>
                    </div>
                    
                </div>

                <div class="card user-manage-otherInfo">
                        <div class="card-body">
                            <button class="btn auth">Change to user</button> /
                            <button class="btn green-btn">Change to mentor</button>
                        </div>
                        <div class="card-body">
                             
                             <p class="title">Expertize</p>
                             <span>Software analysis</span>
                        </div>
                        <div class="card-body">
                             
                                <p class="title">Occupation</p>
                                <span>Software developer at andela,Professor at University</span>
                        </div>
                </div>
                
               

            </section>

                  
        </div>
    </div>

    <script src="../../assets/js/app.js"  type="text/javascript"></script>
    <script src="../../assets/js/admin-utility.js"  type="text/javascript"></script>

   
</body>
</html>