:root{
  --app_color:#4a148c;
  --app-family:"Lato",sans-serif;
  --brand-color:#7408f8;
  --transp-black-color: rgba(0, 0, 0, .8);
 }
 
 html,body{
 
  height: 100%;
  width: 100%;
  margin: 0;
  font:"Lato",sans-serif;
  overflow-x: hidden;
 }
 
 
 body{
   padding: 0;
   background: #fafafa;
   margin: 0;
   overflow-x: hidden;
   color:#424242;
   
 }
 
 html{
   font-family:var(--app-family);
 }
 
 .brand-color{
   color:var(--brand-color);
 }
 .app-color{
   color:var(--app-color);
 }
 .white-text{
   color:white;
 }

 .black-text{
  color:black;
}

.bg-red{
 background: rgb(117, 17, 17);
}

.bg-rwhite{
  background:white;
 }

.bg-green{
  background:rgb(30, 129, 30);
}

.bg-violet{
  background: rgb(112, 54, 219);
 }

 .bg-yellow{
   background:rgb(105, 105, 17);
 }

 .bg-cyan{
  background:rgb(17, 116, 116);
 }

 .bg-blue{
  background:rgb(41, 65, 175);
 }


 .transp-back-color{
   background: var(--transp-black-color);
 }

 .circle{
   border-radius:100%;
   width:60px;
   height: 60px;
 }

 .blue-text{
   color:rgb(21, 21, 82);
 }
 .green-text{
   color:rgb(22, 58, 22);
 }
 .center{
   text-align: center;
 }

 .icon{
   font-size: 20px;
 }

 .left{
   float: left;
 }

 .right{
  float: right;
 }
 
 
 .nav{
   
   height: 70px;
   line-height: 70px;
   background:var(--transp-black-color);
   z-index: 50;
   
 }
 
 .brand{
  font-size: 26px;
  font-weight: bold;
  font-family: var(--app-family);
  padding-left:10px;
 }
 
 .menu-container{
   text-align: right;
   float: right;
 }
 
 .nav .menu{
   margin:0px 30px 0px 0px;
   
 }

 a{
   text-decoration: none;
 }
 
 
 
 .nav .menu a{
  text-decoration: none;
  color:white;
  line-height: 70px;
  margin:0 10px;
  padding:10px;
  transition: background 0.3s linear;
 }
 
 .nav .menu a:hover{
   background: var(--brand-color);
 }
 
 .menu-toggle{
  color:white;
  margin:0 40px 0 0;
  cursor: pointer;
  font-size: 26px;
  line-height: 70px;
  display: none;
 }
 
 .menu-toggle label{
   cursor: pointer;
 }
 
 .nav #toggle{
   display: none;
 }
 
 
 a:hover{
   text-decoration: none;
 }
 
 
 
 div.super-cover{
     height: 65%;
     background:#4a148c;
     background:url("../img/cover.jpg");
     background-size: cover;
     width:100%;
 }
 
 .super-cover .darken{
   position: relative;
   
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   background:  rgba(0, 0, 0, 0.6);
   
 }
 
 .motivation-text{
   color:white;
   text-align: center;
   font-size: 30px;
   font-family:var(--app-family);
   transition: font-size 1s linear;
   padding: 5px;
   line-height: 1.5em;
   z-index: 1;
 }
 
 .section-component{
   padding: 10px;
 }
 
 .all-form{
    position: absolute;
    top:100px;
    width:30%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border:1px solid #ccc;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    padding:10px;
   
   
 }

 .all-form.session-request-form{
  position: relative;
  margin: -250px auto 0px auto;
  box-shadow: 0 2px 20px transparent;

 }

 .req-sess-form .separator{
   margin-bottom: 141px;
   
 }

 .separator-review{
  margin-bottom: 243px;
 }

 .session-request-form .action-div{
   text-align: right;
  
 }



 .signup-form{
    position: absolute;
    top:100px;
    width:50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border:1px solid #ccc;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    padding:10px;
   
 }

.input-divider{
  width:48%;
  display: inline-block;
  margin:0px 10px 0px 0px;
}
 
 .all-form form{
   width: 100%;
   
 }
 
 .input-field,.input-button{
   margin:10px 0px 10px 0px;
  
 }
 
 
 .input-field input,.input-field textarea{
  padding:7px;
  width:97%;
  border-radius: 5px;
  border:1px solid #ccc;
  transition:border 0.5s linear;
  margin-top:5px;
 }
 
 .input-field input:focus {
   border-color: rgb(77, 74, 74); 
   outline: 0;
   box-shadow: 1px 1px 1px #ccc;
   
 }
 .input-field textarea:focus{
  border-color: rgb(77, 74, 74); 
  outline: 0;
  box-shadow: 1px 1px 1px #ccc;
 }
 

.motivation-container{
  position: absolute;
  top:50px;
  width:55%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 10%;
  color:white;
  border-bottom: rgba(0, 0, 0, .5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
  padding:10px;
  word-wrap: break-word;
  text-align: center;

}

.motiv-text{
  font-size: 26px;
  font-family: var(--app-family);
 
}  
 
.input-button{
   /* margin:10px 0px 10px 0px; */
 }

 .btn{
   padding:7px 10px 7px 10px;
   border-radius: 5px;
   border:1px solid transparent;
   font-family: var(--app-family);
   background: var(--app_color) ;
   color:white;
   transition: background 0.5s linear,
                font-size 0.4s linear,
                border 0.4s linear;
   text-transform: uppercase;
   font-size:12px;
 }

 .badge{
  padding:2px 10px 2px 10px;
  border-radius: 2px;
  border:1px solid transparent;
  font-family: var(--app-family);
  background: var(--app_color) ;
  color:white;
  cursor:pointer;
  margin:2px;
  
 }

 .btn.auth,.badge.auth{
   color:var(--brand-color);
   background: white;
   border:1px solid var(--brand-color);
   
 }





 .btn.red-btn,.badge.red{
  color:rgb(240, 110, 110);
  background: white;
  border:1px solid rgb(240, 110, 110);
  
}

.btn.green-btn,.badge.green{
  color:rgb(67, 146, 67);
  background: white;
  border:1px solid rgb(67, 146, 67);
  
}

.badge.no-border{
  border:none;
}

 .btn .full{
   width:100%;
 }

 .btn .medium{
   padding:10px;
 }
 
 
 .btn:focus {
  border-color:var(--app-color); 
  outline: 0;
  box-shadow: 1px 1px 1px  var(--app-color);
 
 }

 .btn:active{
  
  box-shadow: 0 10px 10px 0 rgba(59, 46, 46, 0.5) inset;
 }

 .btn:hover {
  cursor: pointer;
  background:  white ;
  color:#7408f8;
  font-weight: bold;
  font-size: 13px;
  border:1px solid #7408f8;;
 
 }

 .btn.auth:hover {
  cursor: pointer;
  background:  #7408f8;
  color:white;
  font-weight: bold;
  border:1px solid #7408f8;;
 
 }


 .btn.red-btn:hover{
  color:white;
  background: rgb(240, 110, 110);
  border:1px solid rgb(240, 110, 110);
  
}

.btn.green-btn:hover{
  color: white;
  background:rgb(67, 146, 67);
  border:1px solid rgb(67, 146, 67);
  
}

 .service-headers{
   text-align: center;
   font-family: var(--app-family);
   font-weight: bold;
   
 }

.list-services{
  /* display:  */
  text-align: center;
 }
.service-goal-p{
  text-align: center;
}

.list-services .item{
  display: inline-block;
  border:1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .05);
  padding: 10px;
  width:30%;
  line-height: 1.5em;
  font-family: var(--app-family);
  text-align: center;
  margin-bottom: 10px;
  background:white;
}

.list-services .icon.big{
  font-size: 50px;
  color:var(--app_color);
}

.footer{
  position: relative;
  bottom:0px;
  width:100%;
  padding: 20px 10px 20px 10px;
  background: #fafafa;

}

.footer .footer-brand{
 display: inline-block;
 text-align: left;
 width:30%;
}
.footer .copy-right{
  display: inline-block;
  color:rgb(141, 138, 138);
  width:100%;
  text-align: center;
  
}



.account-exist,.account-btn-auth{
  display: inline-block;
}

.section-card{
  
  margin:0px auto 0px auto; 
  width:80%;
  border-radius: 5px;
  background: white;
  padding:10px;
  box-shadow: 0 2px 15px transparent;
  
}

.section-card.dashbord-section,.section-card.mentor-section{
  margin:-20px auto 40px auto; 
}

.section-card.sessions-list{
  margin:10px auto 40px auto; 
}

.section-card .section-header{
 padding: 0px 0px 10px 0px;
 border-bottom:1px solid rgb(226, 223, 223);
 margin-bottom: 10px;
}


.section-card .section-header .section-header-t{
  margin:2px;
}

.section-card .card{
  display: inline-block;
  width:48.5%;
  margin:0 10px 15px 0;
 
}

.card{
  box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
  border-radius: 5px;
  text-align: justify;
  border:1px solid rgb(226, 223, 223);
 
}

.card .card-header{
  padding:5px;
  margin-bottom: 5px;
  
}


.card-header.image .header-img{
  width:18%;
  text-align: center;
  display: inline-block;
  padding-right: 2px;
  
}



.card-header .header-title{
  word-wrap: break-word;
  
}
.card-header.image .header-title{
  float: right;
  width:80%;
  word-wrap: break-word;
  
}

.header-title .title,.card-header .title{
  margin-top:5px;
  margin-bottom: 1px;
  font-weight: bold;
  font-family: var(--app-family);
  font-size: 17px;
 
}


.header-title .sub-title{
  font-family: var(--app-family);
  font-size:12px;
  margin:2px 2px 2px 0px;
}





.card .header-img img{
  height: 45px;
  width:45px;
  border-radius: 100%;
  border:1px solid #ccc;
}

.card .card-body{
  padding:10px;
}

.card .card-body .title{
  font-size: 17px;
  margin-bottom: 5px;
  font-weight:bold;
}

.card .card-footer{
  padding:10px 5px 10px 5px;
  border-top: 1px solid rgb(226, 223, 223);
}

.section-card .card .card-footer .like{
  display: inline-block;
  width:40%;
  
}

.sessions-list .card-footer{
  padding:10px 5px 10px 5px;
  text-align:right;
}


.btn-mentor-more{
  display: inline-block;
  width:55%;
  text-align:right;
  
}


.section-card .card .card-footer .btn{
  margin-bottom:5px;
}

.load-more-container{
 padding:10px;
 margin-top:5px;
 border-top: 1px solid rgb(226, 223, 223);
 text-align: center;
}

.section-card .load-more-container{
  text-align: center;
}

.auth-user{
  height: 250px;
  background: rgb(54,54,57);
  background: linear-gradient(90deg, rgba(54,54,57,1) 0%, rgba(91,91,158,1) 35%, rgba(3,49,144,1) 100%);
  z-index: 1;
}

.auth-user-container{
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, .5);
  color:white;
  font-style:var(--app-family);
}

.auth-avatar {
  padding:10px;
}

.auth-avatar .img{
  height: 80px;
  width:80px;
  border:2px solid white;
}
.auth-avatar p{
  margin:5px;
}

.auth-avatar .action-user-btn{
   margin-top:10px;
   
}

.session-details{
  width:40%;
  margin-top: -150px;

}

.session-details .card{
  width:100% !important;
  display: block !important;
  border:none !important;
 
}



.session-details .card .card-body{
  border-bottom:1px solid #ccc;
  margin-bottom: 0px !important;
}

.session-details .card .card-body .user-img{
  height: 120px;
  width:120px;
  border:2px solid var(--app_color);
}

.session-details .delete-review,.section-card .back-btn{
  float: right;
  margin-top:-8px;
}


.admin-body{
  overflow-block: auto !important;
  overflow-x: scroll;
  background: rgb(236, 235, 235);
}

.admin-body #content{
  margin-left:250px;
  
}


.nav-admin{
  height: 100%;
  width:250px;
  position:fixed;
  top:0;
  left:0px;
  z-index:1;
  background-color: black;
  transition:0.7s;
  background: url(../img/sidebar.jpg) no-repeat;
  background-size: cover;
  
}

.nav-admin .menu-opacity{
  background: rgba(112, 3, 236, 0.5);
  height: 100%;
  width:100%;
}

.nav-admin a{
  color:white;
  font-size: 14px;
  padding:10px;
  line-height: 2.2em;
  text-transform: uppercase;
  display:block;
  font-weight: bold;
  transition: background 0.5s linear,font-size 0.5s linear;
}

.nav-admin a:hover{
  background: var(--app_color);
  font-size: 15px;
  font-style: oblique;
}

.nav-admin .close{
  text-align:right;
  font-size:20px;
  padding:5px 10px;
  font-weight: bold;
  line-height: 1.3em;
  background: white;
  color:black !important;
}



.nav-admin .close:hover{
  background:none;
  font-size: 20px;
  font-style: normal;
}
#open-slide-menu{
  cursor: pointer;
}

.admin-body .content-noSide .nav{
  background:white;
  box-shadow: 0 2px 20px #ccc;
 
}

.admin-body .content-noSide .nav .menu a{
  color:black;
}

.admin-body .content-noSide .nav .menu a:hover{
  color:white;
  background: var(--brand-color);
}

.section-card.admin-dash-section{
  margin-top:10px;
  box-shadow: none !important;
  width:95%;
}

.analitic-panel{
  box-shadow: 0 2px 20px #ccc;
  

}
.analitic-panel .body-panel{
 padding:10px;
 transition:0.7s;
}

.analitic-panel .body-panel .description{
  font-size:15px;
  margin:2px;
  cursor: pointer;
}

.analitic-panel .body-panel .number{
  margin:2px;
  cursor: pointer;

}

.admin-dash-section .analitic-panel{
 width:30%;
 display:inline-block;
 margin:0px 5px 10px 0px;
}

.admin-dash-section .body-panel{
 text-align: center;
 
}

.admin-dash-section .body-panel:hover{
 background: rgba(187, 150, 150, 0.5);
}

.manage-user-session .card{
 border:none;
 box-shadow:none !important;
}

.manage-user-session .card .user-img-p{
 height: 120px;
 width:120px;
 
}

.manage-user-session .card.manage-info-i{
 width:30% ;
 
}

.manage-user-session .user-manage-otherInfo{
width:70% ;
}

.manage-user-session .admin-side-user-manage-btn{
  margin-top:2px !important;
  display: none;
  border-top:1px solid rgb(201, 195, 195);
  width: 100% !important;
  border-radius: none !important;
}

.admin-auth-user{
  background: white;
  padding-top:10px;
  padding-bottom:5px;
}

.admin-auth-user img{
  height: 80px;
  width:80px;
  border:2px solid var(--brand-color);
}

.admin-auth-user .title{
  font-size: 17px;
  font-weight: bold;
}

.admin-auth-user .sub-title{
  font-size:15px;
}
.admin-auth-user p{
  margin:2px;
}





 
 
 